In [1]:
import numpy as np
import pandas as pd
import os
from config import data_path

In [2]:
# Load options data, original format
df_option = pd.read_parquet(os.path.join(data_path, 'SPY_options.parquet'))
df_option = df_option[df_option['EXPIRE_DATE'] != '2015-12-19']
df_option = df_option[df_option['EXPIRE_DATE'] != '2018-12-23']

# Load options data, long format
df_option_l = pd.read_parquet(os.path.join(data_path, 'SPY_options_l.parquet'))
df_option_l = df_option_l[df_option_l['EXPIRE_DATE'] != '2015-12-19']
df_option_l = df_option_l[df_option_l['EXPIRE_DATE'] != '2018-12-23']

# Load SPY price data
df_stock = pd.read_pickle(os.path.join(data_path, 'spy_1d.pkl'))
df_stock['ts'] = pd.to_datetime(df_stock['ts'].dt.date)

In [3]:
df_option.head()

,QUOTE_DATE,UNDERLYING_LAST,EXPIRE_DATE,DTE,STRIKE,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT,C_BID,C_ASK,C_SIZE,...,P_ASK,P_SIZE,P_LAST,P_DELTA,P_GAMMA,P_VEGA,P_THETA,P_RHO,P_IV,P_VOLUME
0,2010-01-04,113.29,2010-01-15,11.0,55.0,58.3,0.515,58.20,58.40,305 x 270,...,0.02,0 x 1268,0.02,NaN,NaN,NaN,NaN,NaN,1.36742,0.0
1,2010-01-04,113.29,2010-01-15,11.0,56.0,57.3,0.506,57.20,57.40,305 x 270,...,0.01,0 x 1269,0.00,NaN,NaN,NaN,NaN,NaN,1.33476,NaN
2,2010-01-04,113.29,2010-01-15,11.0,57.0,56.3,0.497,56.20,56.39,305 x 270,...,0.01,0 x 1268,0.03,NaN,NaN,NaN,NaN,NaN,1.30655,0.0
3,2010-01-04,113.29,2010-01-15,11.0,58.0,55.3,0.488,55.19,55.40,304 x 269,...,0.03,0 x 1269,0.04,NaN,NaN,NaN,NaN,NaN,1.27237,0.0
4,2010-01-04,113.29,2010-01-15,11.0,59.0,54.3,0.479,54.20,54.40,304 x 269,...,0.02,0 x 1268,0.04,NaN,NaN,NaN,NaN,NaN,1.24421,0.0

In [4]:
df_option_l.head()

,QUOTE_DATE,UNDERLYING_LAST,EXPIRE_DATE,DTE,STRIKE,STRIKE_DISTANCE,STRIKE_DISTANCE_PCT,BID,ASK,SIZE,LAST,DELTA,GAMMA,VEGA,THETA,RHO,IV,VOLUME,TYPE
0,2010-01-04,113.29,2010-01-15,11.0,55.0,58.3,0.515,58.2,58.40,305 x 270,54.67,NaN,NaN,NaN,NaN,NaN,2.93530,0.0,C
1,2010-01-04,113.29,2010-01-15,11.0,55.0,58.3,0.515,0.0,0.02,0 x 1268,0.02,NaN,NaN,NaN,NaN,NaN,1.36742,0.0,P
2,2010-01-04,113.29,2010-01-15,11.0,56.0,57.3,0.506,57.2,57.40,305 x 270,53.30,NaN,NaN,NaN,NaN,NaN,2.83357,0.0,C
3,2010-01-04,113.29,2010-01-15,11.0,56.0,57.3,0.506,0.0,0.01,0 x 1269,0.00,NaN,NaN,NaN,NaN,NaN,1.33476,NaN,P
4,2010-01-04,113.29,2010-01-15,11.0,57.0,56.3,0.497,56.2,56.39,305 x 270,0.00,NaN,NaN,NaN,NaN,NaN,2.73583,NaN,C

In [5]:
df_stock.head()

          ts  close_price
0 2000-01-03   145.440002
1 2000-01-04   139.750000
2 2000-01-05   140.000000
3 2000-01-06   139.559998
4 2000-01-07   145.750000